@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria:  #1d1616;
    --cor-secundaria:  #ad5419;
    --cor-terciaria: #E0C097;
    --cor-hover: #E0C097;
    
    --fonte-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    }
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
}
.cabecalho {
    padding: 2% 0% 0% 15%;
    
}
.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    margin: 0 0.6rem;
    padding: 0.6rem;
    text-decoration: none;
}
.cabecalho__menu__link:hover {
    color: var(--cor-hover)
}
.titulo-destaque {
    font-size: 2.5rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
}
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
}
.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    color: var(--cor-secundaria);
}
.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo {
    font-family:  var(--fonte-primaria);
    font-weight:400;
    font-size: 1.5rem;
    color: var(--cor-terciaria);
}
.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;;
    padding: 1.4rem 0;
    text-decoration: none;
    font-family: var(--font-secundaria);
    color:var(--cor-terciaria);
}

.apresentacao_imagem {
    width: 50%;
}

.rodape {
    color: var(--cor-terciaria);
    padding: 1.5rem;
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.25rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
    padding: 10%;
}
.cabecalho__menu {
    justify-content: center;
}
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}